html {
	height:100%;
}

body {
	height:100%;
	line-height: 1.45;
	font-size: 1em;
	font-weight: 400;
	font-family: 'Roboto', sans-serif;
}

a {
	text-decoration: none;
	color:white;
}

.principal {
	height:100%;
	/*background: rgb(231,231,231);*/
	background: #B21C1C;
}

.superior {
	height:75%;
}

.inferior {
	height:25%;

}

.btn-plural {
	width:25%;
	height:100%;
	float:left;
}

.btn-in {
background:orange;
}

.btn-on {
background:green;
}

.btn-midia {
background:blue;
}

.btn-out {
background:yellow;
}

nav {
	width:100%;
}

nav ul {
	list-style: none;
	display: inline-block;
	width:100%;
	text-align:center;
	padding:0;
}

nav ul li {
	display:inline-block;
	padding:0 3%;
}

.game {
	text-align:center;
	margin-top:50px;
}

#logo-grande {
width:520px;
height:623px;
}

#logo-grande:hover {
	cursor:pointer;
	/*width:550px;
	height:659px;*/
}

/*

.site-title {
	font-size:5em;
	padding-top: 7%;

	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 5px;
	line-height: 1.2;
}

.site-subtitle {
	font-size:0.8em;

	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 5px;
	line-height: 1.2;
}

*/

.produtos {
	margin: 0 auto;
	display: block;
	font-size:1.3em;
	color:rgb(100,100,100);
}

.on, .out {
	background:#eee;
}

.in .p-tit, .midia .p-tit {
	float:left;
	max-width:500px;
	margin-left:5%;
}

.in img, .midia img {
	float:right;
	margin-right:5%;
}

.on .p-tit, .out .p-tit {
	float:right;
	max-width:500px;
	margin-right:5%;
}

.on img, .out img {
	float:left;
	margin-left:5%;
}

.plural {
	height:215px;
	padding:5% 0;
}

.site-wrap {
	max-width:1200px;
	margin:0 auto;
}

footer {
	/*background: rgb(222,46,37);*/
	background:rgb(150,25,14);
	clear:both;
	color:white;
	text-align:center;
}
