html {
	height:100%;
}

body {
	height:100%;
	line-height: 1.55;
	font-size: 18px;
	font-weight: 300;
	font-family: 'Open Sans', sans-serif;
}

a {
	text-decoration: none;
	color:rgb(100,100,100);
}

:hover {
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}

.principal {
	height:100%;
	/*background: rgb(231,231,231);*/
	/*background: #B21C1C;*/
	/*background:#96120F;*/
	background:black;
	/*background:fixed;*/
	color:white;
	min-height:755px;
}

.icons {
	width:150px;
	height:200px;
}


.superior {
		background-image: url("../img/Fundo-Inicial.jpg");
	
	height:100%;
	max-width:1200px;
	margin:0 auto;
	}

	.balao {
		display:none;
		position:absolute;
		z-index:9999;
	}

	#balao1 {
		top:25%;
		left:25%;
	}

	#balao2 {
		top: 50%;
		left:62%;
	}

	#balao3 {
		top:50%;
		left:22%;
	}

	#balao4 {
		top:30%;
		left:65%;
	}

	#balao5 {
		top:42%;
		left:40%;
	}

	#logo-grande {
/*width:520px;
height:623px;*/
width:637px;
height:450px;
}

#logo-grande:hover {
	cursor:pointer;
width:665px;
height:470px;
}
/*
.inferior {
	height:30%;
	text-align:center;
	background:#ddd;
}
*/

.btns {
	float:left;
}

.btn-plural {
	width:22%;
	height:80%;
	float:left;
	margin-top:2%;
	text-align:center;

	-webkit-box-shadow: 1px 1px 14px 1px rgba(221,221,221,1);
	-moz-box-shadow: 1px 1px 14px 1px rgba(221,221,221,1);
	box-shadow: 1px 1px 14px 1px rgba(221,221,221,1);
}

.btn-in {
	background:#3268E5;
	margin-right:3%;
	margin-left:1.5%;
}

.btn-plural:hover {
	background:white !important;
}

.hdn-txt {
	position:absolute;
	z-index:-1;
	height:25px;
	background:white;
	box-shadow:none;
	width:20%;
}

.hdn-txt-in {
	margin-left:2.5%;
	color:#3268E5;
}

.hdn-txt-on {
	margin-left:27.5%;
	color:#EEB211;
}


.hdn-txt-midia {
	margin-left:52.5%;
	color:#23967F;
}


.hdn-txt-out {
	margin-left:77.5%;
	color:#009925;
}


.btn-link-in:hover .hdn-txt, .btn-link-on:hover .hdn-txt, .btn-link-midia:hover .hdn-txt, .btn-link-out:hover .hdn-txt   {
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
	margin-top:10px;
	z-index:1;
}

.btn-in:hover .plural-tit {
	color:#3268E5 !important;
}

.icon {
	float:left;
}

.icon-in {
	height:100%;
	margin-left:16%;
}

.plural-tit {
	font-size:7.5em;
	text-transform: uppercase;
	font-weight: bold;
	color:white;
}

.btn-on {
	background:#EEB211;
	margin-right:3%;
}

.btn-on:hover .plural-tit {
	color:#EEB211 !important;
}

.icon-on {
	height:100%;
	margin-left:16%;
}

.btn-midia {
	/*background:#D50F25;*/
	/*background:#E2F89C;*/
	/*background:#D4F2D2;*/
	background:#23967F;
	margin-right:3%;
}

.btn-midia .plural-tit {
	font-size:4.3em;
	float:right;
	margin-top:8%;
	margin-right:5%;
}

.btn-midia:hover .plural-tit {
	color:#23967F !important;
}

.icon-midia {
	height:100%;
	margin-left:16%;
}

.btn-out {
	background:#009925;
}

.btn-out .plural-tit {
	font-size:6em;
	float:right;
	margin-top:3%;
	margin-right:6%;
}

.btn-out:hover .plural-tit {
	color:#009925 !important;
}

.icon-out {
	height:100%;
	margin-left:16%;
}

nav {
	width:100%;
}

nav ul {
	list-style: none;
	display: inline-block;
	width:100%;
	text-align:center;
	padding:0;
}

nav ul li {
	display:inline-block;
	padding:0 3%;
}

nav ul li a:hover {
	color: #f15e56;
}

nav a {
	color:white;
}

.game {
	text-align:center;
	margin-top:50px;
}

.botoes {
	margin-top:5%;
}


.produtos {
	margin: 0 auto;
	display: block;
	font-size:1.1em;
	color:rgb(100,100,100);
}

/*#in {
	color: #3268E5;
}

#on {
	color: #EEB211;
}

#midia {
	color: #23967F;
}

#out {
	color: #009925;
	}*/

	/* -----------segunda pagina------------- */

#in, #midia {
	background-image: url("../img/Fundo-Verde.jpg");
	background-size: cover;
	background-attachment: fixed;
	color:white;
}

	#on, #out {
	/*background:#eee;
	background:#95AFBA;
	background:rgb(150,25,14);
	background:#262730;
	background:#545455;
	background:#7C99B4;
	background:#3F7CAC;
	background:#2e5b7e;
	background:#024F87;
	*/
	
	color:white;

		background-image: url("../img/Fundo-Cinza.jpg");
		background-size: 100% 100%;
	background-repeat: no-repeat;
/*background-attachment: fixed;*/
	
}

.hid {
	
}

.hid-wrap {
	max-width:1000px;
	margin:0 auto;
	overflow:hidden;
}

.block {
	width:45%;
	float:left;
}

.val {
	text-align:center;
}

.mid {
	float:right;
}

.right {
	float:right;
}

.saiba {
	clear:both;
	text-decoration:underline;
	font-weight:bold;
	cursor:pointer;
	margin-left:10%;
}

.saiba-btn {
	height:38px;
	width:38px;
	background-image: url("../img/saibamais.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	float:left;
	margin-right:10px;
}

.btn2{
	background-image: url("../img/saibamais2.png");
}

.saiba-rot {
	-ms-transform: rotate(180deg); /* IE 9 */
	-webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
	transform: rotate(180deg);
}

.p-tit-in, .p-tit-midia {
	max-width:500px;
	float:left;
	margin-left:10%;
}

.p-tit-on, .p-tit-out {
	margin-right:70px;
	max-width:500px;
	float:right;
}

.tit-interno {
	color:#f0c44b;
	font-weight: bold;
}

.plural {
	padding:5% 0;
}

.site-wrap {
	max-width:1200px;
	margin:0 auto;
	overflow:hidden;
}

.img-wrap {
	text-align:center;
}
.in-tit {
	text-align: center;
	font-size:1.3em;
	font-weight: bold;
}
#parceiros {
	text-align:center;
}

.slick-slider {
	margin-top:30px;
}

footer {
	/*background: rgb(222,46,37);
	background:rgb(150,25,14);*/
		/*background:#eee;
	background:#95AFBA;
	background:rgb(150,25,14);
	background:#262730;
	background:#545455;
	background:#7C99B4;
	background:#3F7CAC;
	background:#2e5b7e;
	background:#024F87;
	*/
	background:#262730;
	clear:both;
	color:white;
	padding:3% 0 0 0;
	font-size:0.8em;
}

footer img {
	width:30px;
	height:30px;
	margin-right:20px;
	float:left;
}

.info {
	max-width:750px;
	margin:0 auto;
}

.info1 {
	margin-left:20px;
	margin-right:20px;
}

.nav-inst {
	/*background:rgb(150,25,14);*/
	background:#262730;
}

.hid-inst {
	width:1000px;
}

.p-tit-inst {
	max-width:1200px;
}

.prod-img {
	height:251px;
	width:450px;
}

.parc-tit {
	color: rgb(100,100,100);
}

.slider-parc img {
	max-width:200px;
	height:116px;
}

.circ {
	border-radius:15px 0 10px 10px;
}

.slick-slider {
	margin-left:147px;
}
/*
.fotos {
	height:400px;
	
		background-size: 100% 100%;
	background-repeat: no-repeat;
background-attachment: fixed;
}

.fotoin {
	background-image: url("../img/Consultoria.jpg");
}

.fotoon {
	background-image: url("../img/fundoon.jpg");
}

.fotomidia {
	background-image: url("../img/TV-Dorinha.jpg");
}

.fotoout {
background-image: url("../img/show.jpg");
}*/


@media(max-height:819px) {
	.game, .botoes {
		margin-top:0;
	}
}

@media (max-width:1099px) {
	.p-tit-in, .p-tit-midia, .p-tit-on, .p-tit-out {
		max-width:750px;
		float:none;
		margin:0 auto;
	}

	.block {
		width:100%;
		max-width:800px;
		float:none;
		margin:0 auto;
	}

	.tit-interno {
		text-align:center;
	}

	.site-wrap, .hid-wrap {
		margin-right:20px;
		margin-left:20px;
	}
}

@media (max-width: 829px) {
	#logo-grande {
		width:425px;
		height:300px;
	}
	#logo-grande:hover {
		width:446px;
		height:315px;
	}
	.icons {
		height:150px;
		width:100px;
	}
	.principal {
		min-height: 570px;
	}
}

@media (max-width:739px) {
	.slick-slider {
		width:200px;
		margin-left:auto;
		margin-right:auto;
	}

	.prod-img {
		width:300px;
		height:167px;
	}
}

@media (max-width:569px) {
	nav ul li {
		display:block;
		padding:2% 3%;
	}

	.principal {
		height: 1150px;
	}
}

@media (max-width:449px) {
		#logo-grande, #logo-grande:hover {
		max-width:100%;
		height:100%;
		cursor:inherit;
	}
}